version: "2"
services:
  app:
    container_name: app
    build: .
    ports:
      - "3000:3000"
    links:
      - mongodbserver
  mongodbserver:
    container_name: mongodbserver
    image: mongodb/mongodb-community-server
    volumes:
      - ./data:/data/db
    ports:
      - "27017:27017"